
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="padding-top:100px">
            @using (Html.BeginForm())
            {
            <div class="card">
                <div class="card-header">
                    <h4>Login Here</h4>
                    
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Email Address</label>
                        @Html.TextBox("email_address", null, new { @class = "form-control" })
                    </div>
                    <div class="mb-3">
                        <label>Password</label>
                        @Html.TextBox("password", null, new { @class = "form-control" })
                    </div>

                </div>
                <div class="card-footer">
                    <input type="submit" value="Login" class="btn btn-primary" />
                    <input type="reset" value="Reset" class="btn btn-danger" />
                    <h4 style="color:red">@ViewBag.msg</h4>
                </div>
            </div>
            }
        </div>
    </div>
</body>
</html>
